
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/anneal.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/equilibrate.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/md.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/opt.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/opt_restr_all.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/opt_restr_backbone.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/opt_restr_CAs.pmemd
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/plainMD.sh
1_setup_and_run_MD_simulations/1.plain_MD/MD_settings/README.txt
1_setup_and_run_MD_simulations/1.plain_MD/solvate_prepare_topol/README.txt
1_setup_and_run_MD_simulations/1.plain_MD/solvate_prepare_topol/solvate_leap-apo_ions.sh
1_setup_and_run_MD_simulations/2.vmd/divide_into_list.tcl
1_setup_and_run_MD_simulations/2.vmd/la1.0/CVS/Entries
1_setup_and_run_MD_simulations/2.vmd/la1.0/CVS/Repository
1_setup_and_run_MD_simulations/2.vmd/la1.0/CVS/Root
1_setup_and_run_MD_simulations/2.vmd/la1.0/defs
1_setup_and_run_MD_simulations/2.vmd/la1.0/index.html
1_setup_and_run_MD_simulations/2.vmd/la1.0/la.html
1_setup_and_run_MD_simulations/2.vmd/la1.0/la.tcl
1_setup_and_run_MD_simulations/2.vmd/la1.0/la.test
1_setup_and_run_MD_simulations/2.vmd/la1.0/la_cmds.html
1_setup_and_run_MD_simulations/2.vmd/la1.0/la_download.html
1_setup_and_run_MD_simulations/2.vmd/la1.0/license.txt
1_setup_and_run_MD_simulations/2.vmd/la1.0/NIST.html
1_setup_and_run_MD_simulations/2.vmd/la1.0/NIST.tcl
1_setup_and_run_MD_simulations/2.vmd/la1.0/pkgIndex.tcl
1_setup_and_run_MD_simulations/2.vmd/la1.0/products.html
1_setup_and_run_MD_simulations/2.vmd/la1.0/tclIndex
1_setup_and_run_MD_simulations/2.vmd/Orient/Orient.tcl
1_setup_and_run_MD_simulations/2.vmd/Orient/pkgIndex.tcl
1_setup_and_run_MD_simulations/2.vmd/README.txt
1_setup_and_run_MD_simulations/3.prep_metadynamics/av_std-sel-region.sh
1_setup_and_run_MD_simulations/3.prep_metadynamics/calc_walls.sh
1_setup_and_run_MD_simulations/3.prep_metadynamics/meta.mdp
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed-common.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.0.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.1.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.2.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.3.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.4.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.5.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.6.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/plumed.7.dat
1_setup_and_run_MD_simulations/3.prep_metadynamics/prepare_topol.sh
1_setup_and_run_MD_simulations/3.prep_metadynamics/README.txt
1_setup_and_run_MD_simulations/4.launch_metadynamics/host
1_setup_and_run_MD_simulations/4.launch_metadynamics/launch_monitor_meta.sh
1_setup_and_run_MD_simulations/4.launch_metadynamics/README.txt
2_clustering_scripts/clean.sh
2_clustering_scripts/gen_colvar_meta.sh
2_clustering_scripts/lines_templatekmeans.sh
2_clustering_scripts/R_clustering_8CVs.sh
2_clustering_scripts/README.txt
2_clustering_scripts/tmp/clean.sh
2_clustering_scripts/tmp/gen_colvar_meta.sh
2_clustering_scripts/tmp/hclust_8cvs_PR_template.R
2_clustering_scripts/tmp/k-means-head.R
2_clustering_scripts/tmp/k-means_8CVs-tail.R
2_clustering_scripts/tmp/lines_templatekmeans.sh
2_clustering_scripts/tmp/R_clustering_8CVs.sh
2_clustering_scripts/tmp/README.txt
2_clustering_scripts/tmp/rmsdsymm.cpptrj
3_ADK_clusters/gEDES/AK_aligned_0.pdb
3_ADK_clusters/gEDES/AK_aligned_1.pdb
3_ADK_clusters/gEDES/AK_aligned_10.pdb
3_ADK_clusters/gEDES/AK_aligned_100.pdb
3_ADK_clusters/gEDES/AK_aligned_101.pdb
3_ADK_clusters/gEDES/AK_aligned_102.pdb
3_ADK_clusters/gEDES/AK_aligned_103.pdb
3_ADK_clusters/gEDES/AK_aligned_104.pdb
3_ADK_clusters/gEDES/AK_aligned_105.pdb
3_ADK_clusters/gEDES/AK_aligned_106.pdb
3_ADK_clusters/gEDES/AK_aligned_107.pdb
3_ADK_clusters/gEDES/AK_aligned_108.pdb
3_ADK_clusters/gEDES/AK_aligned_109.pdb
3_ADK_clusters/gEDES/AK_aligned_11.pdb
3_ADK_clusters/gEDES/AK_aligned_110.pdb
3_ADK_clusters/gEDES/AK_aligned_111.pdb
3_ADK_clusters/gEDES/AK_aligned_112.pdb
3_ADK_clusters/gEDES/AK_aligned_113.pdb
3_ADK_clusters/gEDES/AK_aligned_114.pdb
3_ADK_clusters/gEDES/AK_aligned_115.pdb
3_ADK_clusters/gEDES/AK_aligned_116.pdb
3_ADK_clusters/gEDES/AK_aligned_117.pdb
3_ADK_clusters/gEDES/AK_aligned_118.pdb
3_ADK_clusters/gEDES/AK_aligned_119.pdb
3_ADK_clusters/gEDES/AK_aligned_12.pdb
3_ADK_clusters/gEDES/AK_aligned_120.pdb
3_ADK_clusters/gEDES/AK_aligned_121.pdb
3_ADK_clusters/gEDES/AK_aligned_122.pdb
3_ADK_clusters/gEDES/AK_aligned_123.pdb
3_ADK_clusters/gEDES/AK_aligned_124.pdb
3_ADK_clusters/gEDES/AK_aligned_125.pdb
3_ADK_clusters/gEDES/AK_aligned_126.pdb
3_ADK_clusters/gEDES/AK_aligned_127.pdb
3_ADK_clusters/gEDES/AK_aligned_128.pdb
3_ADK_clusters/gEDES/AK_aligned_129.pdb
3_ADK_clusters/gEDES/AK_aligned_13.pdb
3_ADK_clusters/gEDES/AK_aligned_14.pdb
3_ADK_clusters/gEDES/AK_aligned_15.pdb
3_ADK_clusters/gEDES/AK_aligned_16.pdb
3_ADK_clusters/gEDES/AK_aligned_17.pdb
3_ADK_clusters/gEDES/AK_aligned_18.pdb
3_ADK_clusters/gEDES/AK_aligned_19.pdb
3_ADK_clusters/gEDES/AK_aligned_2.pdb
3_ADK_clusters/gEDES/AK_aligned_20.pdb
3_ADK_clusters/gEDES/AK_aligned_21.pdb
3_ADK_clusters/gEDES/AK_aligned_22.pdb
3_ADK_clusters/gEDES/AK_aligned_23.pdb
3_ADK_clusters/gEDES/AK_aligned_24.pdb
3_ADK_clusters/gEDES/AK_aligned_25.pdb
3_ADK_clusters/gEDES/AK_aligned_26.pdb
3_ADK_clusters/gEDES/AK_aligned_27.pdb
3_ADK_clusters/gEDES/AK_aligned_28.pdb
3_ADK_clusters/gEDES/AK_aligned_29.pdb
3_ADK_clusters/gEDES/AK_aligned_3.pdb
3_ADK_clusters/gEDES/AK_aligned_30.pdb
3_ADK_clusters/gEDES/AK_aligned_31.pdb
3_ADK_clusters/gEDES/AK_aligned_32.pdb
3_ADK_clusters/gEDES/AK_aligned_33.pdb
3_ADK_clusters/gEDES/AK_aligned_34.pdb
3_ADK_clusters/gEDES/AK_aligned_35.pdb
3_ADK_clusters/gEDES/AK_aligned_36.pdb
3_ADK_clusters/gEDES/AK_aligned_37.pdb
3_ADK_clusters/gEDES/AK_aligned_38.pdb
3_ADK_clusters/gEDES/AK_aligned_39.pdb
3_ADK_clusters/gEDES/AK_aligned_4.pdb
3_ADK_clusters/gEDES/AK_aligned_40.pdb
3_ADK_clusters/gEDES/AK_aligned_41.pdb
3_ADK_clusters/gEDES/AK_aligned_42.pdb
3_ADK_clusters/gEDES/AK_aligned_43.pdb
3_ADK_clusters/gEDES/AK_aligned_44.pdb
3_ADK_clusters/gEDES/AK_aligned_45.pdb
3_ADK_clusters/gEDES/AK_aligned_46.pdb
3_ADK_clusters/gEDES/AK_aligned_47.pdb
3_ADK_clusters/gEDES/AK_aligned_48.pdb
3_ADK_clusters/gEDES/AK_aligned_49.pdb
3_ADK_clusters/gEDES/AK_aligned_5.pdb
3_ADK_clusters/gEDES/AK_aligned_50.pdb
3_ADK_clusters/gEDES/AK_aligned_51.pdb
3_ADK_clusters/gEDES/AK_aligned_52.pdb
3_ADK_clusters/gEDES/AK_aligned_53.pdb
3_ADK_clusters/gEDES/AK_aligned_54.pdb
3_ADK_clusters/gEDES/AK_aligned_55.pdb
3_ADK_clusters/gEDES/AK_aligned_56.pdb
3_ADK_clusters/gEDES/AK_aligned_57.pdb
3_ADK_clusters/gEDES/AK_aligned_58.pdb
3_ADK_clusters/gEDES/AK_aligned_59.pdb
3_ADK_clusters/gEDES/AK_aligned_6.pdb
3_ADK_clusters/gEDES/AK_aligned_60.pdb
3_ADK_clusters/gEDES/AK_aligned_61.pdb
3_ADK_clusters/gEDES/AK_aligned_62.pdb
3_ADK_clusters/gEDES/AK_aligned_63.pdb
3_ADK_clusters/gEDES/AK_aligned_64.pdb
3_ADK_clusters/gEDES/AK_aligned_65.pdb
3_ADK_clusters/gEDES/AK_aligned_66.pdb
3_ADK_clusters/gEDES/AK_aligned_67.pdb
3_ADK_clusters/gEDES/AK_aligned_68.pdb
3_ADK_clusters/gEDES/AK_aligned_69.pdb
3_ADK_clusters/gEDES/AK_aligned_7.pdb
3_ADK_clusters/gEDES/AK_aligned_70.pdb
3_ADK_clusters/gEDES/AK_aligned_71.pdb
3_ADK_clusters/gEDES/AK_aligned_72.pdb
3_ADK_clusters/gEDES/AK_aligned_73.pdb
3_ADK_clusters/gEDES/AK_aligned_74.pdb
3_ADK_clusters/gEDES/AK_aligned_75.pdb
3_ADK_clusters/gEDES/AK_aligned_76.pdb
3_ADK_clusters/gEDES/AK_aligned_77.pdb
3_ADK_clusters/gEDES/AK_aligned_78.pdb
3_ADK_clusters/gEDES/AK_aligned_79.pdb
3_ADK_clusters/gEDES/AK_aligned_8.pdb
3_ADK_clusters/gEDES/AK_aligned_80.pdb
3_ADK_clusters/gEDES/AK_aligned_81.pdb
3_ADK_clusters/gEDES/AK_aligned_82.pdb
3_ADK_clusters/gEDES/AK_aligned_83.pdb
3_ADK_clusters/gEDES/AK_aligned_84.pdb
3_ADK_clusters/gEDES/AK_aligned_85.pdb
3_ADK_clusters/gEDES/AK_aligned_86.pdb
3_ADK_clusters/gEDES/AK_aligned_87.pdb
3_ADK_clusters/gEDES/AK_aligned_88.pdb
3_ADK_clusters/gEDES/AK_aligned_89.pdb
3_ADK_clusters/gEDES/AK_aligned_9.pdb
3_ADK_clusters/gEDES/AK_aligned_90.pdb
3_ADK_clusters/gEDES/AK_aligned_91.pdb
3_ADK_clusters/gEDES/AK_aligned_92.pdb
3_ADK_clusters/gEDES/AK_aligned_93.pdb
3_ADK_clusters/gEDES/AK_aligned_94.pdb
3_ADK_clusters/gEDES/AK_aligned_95.pdb
3_ADK_clusters/gEDES/AK_aligned_96.pdb
3_ADK_clusters/gEDES/AK_aligned_97.pdb
3_ADK_clusters/gEDES/AK_aligned_98.pdb
3_ADK_clusters/gEDES/AK_aligned_99.pdb
3_ADK_clusters/MDstd/AK_aligned_0.pdb
3_ADK_clusters/MDstd/AK_aligned_1.pdb
3_ADK_clusters/MDstd/AK_aligned_10.pdb
3_ADK_clusters/MDstd/AK_aligned_100.pdb
3_ADK_clusters/MDstd/AK_aligned_101.pdb
3_ADK_clusters/MDstd/AK_aligned_102.pdb
3_ADK_clusters/MDstd/AK_aligned_103.pdb
3_ADK_clusters/MDstd/AK_aligned_104.pdb
3_ADK_clusters/MDstd/AK_aligned_105.pdb
3_ADK_clusters/MDstd/AK_aligned_106.pdb
3_ADK_clusters/MDstd/AK_aligned_107.pdb
3_ADK_clusters/MDstd/AK_aligned_108.pdb
3_ADK_clusters/MDstd/AK_aligned_109.pdb
3_ADK_clusters/MDstd/AK_aligned_11.pdb
3_ADK_clusters/MDstd/AK_aligned_110.pdb
3_ADK_clusters/MDstd/AK_aligned_111.pdb
3_ADK_clusters/MDstd/AK_aligned_112.pdb
3_ADK_clusters/MDstd/AK_aligned_113.pdb
3_ADK_clusters/MDstd/AK_aligned_114.pdb
3_ADK_clusters/MDstd/AK_aligned_115.pdb
3_ADK_clusters/MDstd/AK_aligned_116.pdb
3_ADK_clusters/MDstd/AK_aligned_117.pdb
3_ADK_clusters/MDstd/AK_aligned_118.pdb
3_ADK_clusters/MDstd/AK_aligned_119.pdb
3_ADK_clusters/MDstd/AK_aligned_12.pdb
3_ADK_clusters/MDstd/AK_aligned_120.pdb
3_ADK_clusters/MDstd/AK_aligned_121.pdb
3_ADK_clusters/MDstd/AK_aligned_122.pdb
3_ADK_clusters/MDstd/AK_aligned_123.pdb
3_ADK_clusters/MDstd/AK_aligned_124.pdb
3_ADK_clusters/MDstd/AK_aligned_125.pdb
3_ADK_clusters/MDstd/AK_aligned_126.pdb
3_ADK_clusters/MDstd/AK_aligned_127.pdb
3_ADK_clusters/MDstd/AK_aligned_128.pdb
3_ADK_clusters/MDstd/AK_aligned_129.pdb
3_ADK_clusters/MDstd/AK_aligned_13.pdb
3_ADK_clusters/MDstd/AK_aligned_130.pdb
3_ADK_clusters/MDstd/AK_aligned_131.pdb
3_ADK_clusters/MDstd/AK_aligned_132.pdb
3_ADK_clusters/MDstd/AK_aligned_133.pdb
3_ADK_clusters/MDstd/AK_aligned_134.pdb
3_ADK_clusters/MDstd/AK_aligned_135.pdb
3_ADK_clusters/MDstd/AK_aligned_136.pdb
3_ADK_clusters/MDstd/AK_aligned_137.pdb
3_ADK_clusters/MDstd/AK_aligned_138.pdb
3_ADK_clusters/MDstd/AK_aligned_139.pdb
3_ADK_clusters/MDstd/AK_aligned_14.pdb
3_ADK_clusters/MDstd/AK_aligned_140.pdb
3_ADK_clusters/MDstd/AK_aligned_141.pdb
3_ADK_clusters/MDstd/AK_aligned_142.pdb
3_ADK_clusters/MDstd/AK_aligned_143.pdb
3_ADK_clusters/MDstd/AK_aligned_144.pdb
3_ADK_clusters/MDstd/AK_aligned_145.pdb
3_ADK_clusters/MDstd/AK_aligned_146.pdb
3_ADK_clusters/MDstd/AK_aligned_147.pdb
3_ADK_clusters/MDstd/AK_aligned_148.pdb
3_ADK_clusters/MDstd/AK_aligned_149.pdb
3_ADK_clusters/MDstd/AK_aligned_15.pdb
3_ADK_clusters/MDstd/AK_aligned_150.pdb
3_ADK_clusters/MDstd/AK_aligned_151.pdb
3_ADK_clusters/MDstd/AK_aligned_152.pdb
3_ADK_clusters/MDstd/AK_aligned_153.pdb
3_ADK_clusters/MDstd/AK_aligned_154.pdb
3_ADK_clusters/MDstd/AK_aligned_155.pdb
3_ADK_clusters/MDstd/AK_aligned_156.pdb
3_ADK_clusters/MDstd/AK_aligned_157.pdb
3_ADK_clusters/MDstd/AK_aligned_158.pdb
3_ADK_clusters/MDstd/AK_aligned_159.pdb
3_ADK_clusters/MDstd/AK_aligned_16.pdb
3_ADK_clusters/MDstd/AK_aligned_17.pdb
3_ADK_clusters/MDstd/AK_aligned_18.pdb
3_ADK_clusters/MDstd/AK_aligned_19.pdb
3_ADK_clusters/MDstd/AK_aligned_2.pdb
3_ADK_clusters/MDstd/AK_aligned_20.pdb
3_ADK_clusters/MDstd/AK_aligned_21.pdb
3_ADK_clusters/MDstd/AK_aligned_22.pdb
3_ADK_clusters/MDstd/AK_aligned_23.pdb
3_ADK_clusters/MDstd/AK_aligned_24.pdb
3_ADK_clusters/MDstd/AK_aligned_25.pdb
3_ADK_clusters/MDstd/AK_aligned_26.pdb
3_ADK_clusters/MDstd/AK_aligned_27.pdb
3_ADK_clusters/MDstd/AK_aligned_28.pdb
3_ADK_clusters/MDstd/AK_aligned_29.pdb
3_ADK_clusters/MDstd/AK_aligned_3.pdb
3_ADK_clusters/MDstd/AK_aligned_30.pdb
3_ADK_clusters/MDstd/AK_aligned_31.pdb
3_ADK_clusters/MDstd/AK_aligned_32.pdb
3_ADK_clusters/MDstd/AK_aligned_33.pdb
3_ADK_clusters/MDstd/AK_aligned_34.pdb
3_ADK_clusters/MDstd/AK_aligned_35.pdb
3_ADK_clusters/MDstd/AK_aligned_36.pdb
3_ADK_clusters/MDstd/AK_aligned_37.pdb
3_ADK_clusters/MDstd/AK_aligned_38.pdb
3_ADK_clusters/MDstd/AK_aligned_39.pdb
3_ADK_clusters/MDstd/AK_aligned_4.pdb
3_ADK_clusters/MDstd/AK_aligned_40.pdb
3_ADK_clusters/MDstd/AK_aligned_41.pdb
3_ADK_clusters/MDstd/AK_aligned_42.pdb
3_ADK_clusters/MDstd/AK_aligned_43.pdb
3_ADK_clusters/MDstd/AK_aligned_44.pdb
3_ADK_clusters/MDstd/AK_aligned_45.pdb
3_ADK_clusters/MDstd/AK_aligned_46.pdb
3_ADK_clusters/MDstd/AK_aligned_47.pdb
3_ADK_clusters/MDstd/AK_aligned_48.pdb
3_ADK_clusters/MDstd/AK_aligned_49.pdb
3_ADK_clusters/MDstd/AK_aligned_5.pdb
3_ADK_clusters/MDstd/AK_aligned_50.pdb
3_ADK_clusters/MDstd/AK_aligned_51.pdb
3_ADK_clusters/MDstd/AK_aligned_52.pdb
3_ADK_clusters/MDstd/AK_aligned_53.pdb
3_ADK_clusters/MDstd/AK_aligned_54.pdb
3_ADK_clusters/MDstd/AK_aligned_55.pdb
3_ADK_clusters/MDstd/AK_aligned_56.pdb
3_ADK_clusters/MDstd/AK_aligned_57.pdb
3_ADK_clusters/MDstd/AK_aligned_58.pdb
3_ADK_clusters/MDstd/AK_aligned_59.pdb
3_ADK_clusters/MDstd/AK_aligned_6.pdb
3_ADK_clusters/MDstd/AK_aligned_60.pdb
3_ADK_clusters/MDstd/AK_aligned_61.pdb
3_ADK_clusters/MDstd/AK_aligned_62.pdb
3_ADK_clusters/MDstd/AK_aligned_63.pdb
3_ADK_clusters/MDstd/AK_aligned_64.pdb
3_ADK_clusters/MDstd/AK_aligned_65.pdb
3_ADK_clusters/MDstd/AK_aligned_66.pdb
3_ADK_clusters/MDstd/AK_aligned_67.pdb
3_ADK_clusters/MDstd/AK_aligned_68.pdb
3_ADK_clusters/MDstd/AK_aligned_69.pdb
3_ADK_clusters/MDstd/AK_aligned_7.pdb
3_ADK_clusters/MDstd/AK_aligned_70.pdb
3_ADK_clusters/MDstd/AK_aligned_71.pdb
3_ADK_clusters/MDstd/AK_aligned_72.pdb
3_ADK_clusters/MDstd/AK_aligned_73.pdb
3_ADK_clusters/MDstd/AK_aligned_74.pdb
3_ADK_clusters/MDstd/AK_aligned_75.pdb
3_ADK_clusters/MDstd/AK_aligned_76.pdb
3_ADK_clusters/MDstd/AK_aligned_77.pdb
3_ADK_clusters/MDstd/AK_aligned_78.pdb
3_ADK_clusters/MDstd/AK_aligned_79.pdb
3_ADK_clusters/MDstd/AK_aligned_8.pdb
3_ADK_clusters/MDstd/AK_aligned_80.pdb
3_ADK_clusters/MDstd/AK_aligned_81.pdb
3_ADK_clusters/MDstd/AK_aligned_82.pdb
3_ADK_clusters/MDstd/AK_aligned_83.pdb
3_ADK_clusters/MDstd/AK_aligned_84.pdb
3_ADK_clusters/MDstd/AK_aligned_85.pdb
3_ADK_clusters/MDstd/AK_aligned_86.pdb
3_ADK_clusters/MDstd/AK_aligned_87.pdb
3_ADK_clusters/MDstd/AK_aligned_88.pdb
3_ADK_clusters/MDstd/AK_aligned_89.pdb
3_ADK_clusters/MDstd/AK_aligned_9.pdb
3_ADK_clusters/MDstd/AK_aligned_90.pdb
3_ADK_clusters/MDstd/AK_aligned_91.pdb
3_ADK_clusters/MDstd/AK_aligned_92.pdb
3_ADK_clusters/MDstd/AK_aligned_93.pdb
3_ADK_clusters/MDstd/AK_aligned_94.pdb
3_ADK_clusters/MDstd/AK_aligned_95.pdb
3_ADK_clusters/MDstd/AK_aligned_96.pdb
3_ADK_clusters/MDstd/AK_aligned_97.pdb
3_ADK_clusters/MDstd/AK_aligned_98.pdb
3_ADK_clusters/MDstd/AK_aligned_99.pdb
3_ADK_clusters/MDstd/cpptraj.in
4_Docking_poses/Autodock/gEDES/10th_top_Autodock_GCP.pdb
4_Docking_poses/Autodock/gEDES/1st_top_Autodock_ADP.pdb
4_Docking_poses/Autodock/gEDES/2nd_top_Autodock_AP5.pdb
4_Docking_poses/Autodock/gEDES/7th_top_Autodock_AMP.pdb
4_Docking_poses/Autodock/MDstd/10th_top_ADP_MDstd_Autodock.pdb
4_Docking_poses/Autodock/MDstd/16ht_GCP_MDstd_Autodock.pdb
4_Docking_poses/Autodock/MDstd/2nd_top_Autodock_AP5_MDstd.pdb
4_Docking_poses/Autodock/MDstd/62nd_AMP_MDstd_Autodock.pdb
4_Docking_poses/HADDOCK/gEDES/first_acceptable_ADP_gEDES_HADDOCK.pdb
4_Docking_poses/HADDOCK/gEDES/first_acceptable_AMP_gEDES_HADDOCK.pdb
4_Docking_poses/HADDOCK/gEDES/first_acceptable_AP5_gEDES_HADDOCK.pdb
4_Docking_poses/HADDOCK/gEDES/first_acceptable_GCP_gEDES_HADDOCK.pdb
4_Docking_poses/HADDOCK/MDstd/best_GCP_MDstd_HADDOCK.pdb
4_Docking_poses/HADDOCK/MDstd/first_acceptable_ADP_MDstd_HADDOCK.pdb
4_Docking_poses/HADDOCK/MDstd/first_acceptable_AMP_MDstd_HADDOCK.pdb
4_Docking_poses/HADDOCK/MDstd/first_acceptable_AP5_MDstd_HADDOCK.pdb
5_Docking_scripts/Autodock/accessory_scripts/bs_dim_center.tcl
5_Docking_scripts/Autodock/accessory_scripts/compare_Xray.vmd
5_Docking_scripts/Autodock/accessory_scripts/fit-and-measure-rescore.tcl
5_Docking_scripts/Autodock/accessory_scripts/generate-rescore-tcl.sh
5_Docking_scripts/Autodock/accessory_scripts/generate-symmetry-corrected-RMSD-plots.sh
5_Docking_scripts/Autodock/accessory_scripts/opt-restr1.pmemd
5_Docking_scripts/Autodock/accessory_scripts/reorder_pdb_auto-with-TERs.awk
5_Docking_scripts/Autodock/accessory_scripts/save-noh.tcl
5_Docking_scripts/Autodock/AD4.1_bound.dat
5_Docking_scripts/Autodock/amber-bcc-ligs/ADP.frcmod
5_Docking_scripts/Autodock/amber-bcc-ligs/ADP.mol2
5_Docking_scripts/Autodock/amber-bcc-ligs/ADP.prep
5_Docking_scripts/Autodock/amber-bcc-ligs/AMP.frcmod
5_Docking_scripts/Autodock/amber-bcc-ligs/AMP.mol2
5_Docking_scripts/Autodock/amber-bcc-ligs/AMP.prep
5_Docking_scripts/Autodock/amber-bcc-ligs/AP5.frcmod
5_Docking_scripts/Autodock/amber-bcc-ligs/AP5.mol2
5_Docking_scripts/Autodock/amber-bcc-ligs/AP5.prep
5_Docking_scripts/Autodock/amber-bcc-ligs/GCP.frcmod
5_Docking_scripts/Autodock/amber-bcc-ligs/GCP.mol2
5_Docking_scripts/Autodock/amber-bcc-ligs/GCP.prep
5_Docking_scripts/Autodock/analyze-autodock.sh
5_Docking_scripts/Autodock/analyze-rescore.sh
5_Docking_scripts/Autodock/launch-autodock-all-auto-grid0.375.sh
5_Docking_scripts/Autodock/opt-rescore-Autodock-pmemd-gEDES-single-ligand.sh
5_Docking_scripts/Autodock/README.txt
README.txt
